:root {
  --color-base: rgb(31, 31, 31);
  --color-base-light: rgb(40, 40, 40);
  --color-base-lighter: rgb(47, 47, 47);
  --color-base-dark: rgb(26, 26, 26);
  --color-base-dark-o50: rgba(26, 26, 26, 0.75);
  --color-base-darker: rgb(0, 0, 0);

  --color-accent: rgb(151, 215, 0);
  --color-accent-o75: rgba(151, 215, 0, 0.75);
  --color-warn: rgb(216, 14, 18);
  --color-warn-light: hsl(359, 75%, 60%);

  --color-text: rgba(255, 255, 255, 1);
  --color-text-light: rgba(255, 255, 255, 0.72);
  --color-text-lighter: rgba(255, 255, 255, 0.38);
  
  --color-shadow: rgba(0, 0, 0, 0.5);
  --color-shadow-light: rgba(0, 0, 0, 0.25);
  --color-highlight: rgba(255, 255, 255, 0.2);
  --color-highlight-accent: rgba(151, 215, 0, 0.25);

  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 10px;
  --border-radius-round: 50%;

  --anim-duration-short: 150ms;

  --font-large: 3.5em;
}

body {  
  background-color: var(--color-base-dark);
  color: var(--color-text);
}

a {
  color: var(--color-accent);
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:visited {
  color: var(--color-accent-o75);
}

p {
  line-height: 1.5;
}

em {
  font-style: normal;
  color: var(--color-accent);
}

button {
  color: var(--color-text);
  padding: 0.75rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 4px;

  font-size: 1.125rem;
  letter-spacing: 0.03rem;

  cursor: pointer;
  transition:
    background-color var(--anim-duration-short) ease-out,
    color var(--anim-duration-short) ease-out,
    border-color var(--anim-duration-short) ease-out;
}

button:hover {
  color: var(--color-accent);
  background: var(--color-base-light);
}

button:active {
  border: 2px solid var(--color-accent);
}

@media screen and (max-width: 659px) {
  :root {
    --font-large: 2.5em;
  }
}