.dcard-transition-group {
  --card-width: 100%;

  display: grid;
  justify-items: center;
  align-items: start;
  grid-auto-columns: var(--card-width);
  grid-auto-flow: column;
  width: var(--card-width);
  overflow: hidden;

  min-width: 420px;
  max-width: calc(100vh - 23rem);
  margin: 0 auto;
}

.card-exit {
  grid-column: 1;
  transform: scaleX(1) translateX(0);
  transform-origin: top right;
}

.card-enter {
  grid-column: 2;
  transform: scaleX(1.5) translateX(0);
  transform-origin: top left;
}

.card-enter-active {
  transform: scaleX(1) translateX(calc(var(--card-width) * -1 - 4rem));
  transition: transform 500ms cubic-bezier(.96,-0.28,.26,1.18);
}

.card-exit-active {
  transform: scaleX(1.5) translateX(calc(var(--card-width) * -1 - 4rem));
  transition: transform 500ms cubic-bezier(.96,-0.28,.26,1.18);
}

.dcard-root {
  display: grid;
  width: 100%;
  max-width: calc(100% - 4rem);
  
  background: var(--color-base);
  border: 1px solid var(--color-base-darker);
  border-radius: 6px;
  overflow: hidden;
}

.dcard-top {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-base-darker);
}

.dcard-top-space {
  flex-grow: 1;
}

.dcard-btn-next {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.dcard-content {
  position: relative;
  display: grid;
  place-items: center;

  border-bottom: 1px solid var(--color-base-darker);
}

.dcard-content > div {
  display: grid;
}

.dcard-content > img {
  width: 100vw; /* Just go as wide as possible */
  max-width: 100%; /* …Up to the element's maximum width in the grid */
}

.dcard-prompt {
  padding: 1rem 3rem;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;

  background-color: var(--color-base-dark-o50);
  backdrop-filter: blur(3px);
}

.dcard-buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  padding: 1.5rem;
}

.dcard-buttons > * {
  flex-grow: 1;
}

.dcard-buttons .clicked {
  animation: clicked 300ms ease 50ms 1 normal both;
}

.dcard-end {
  display: grid;
  text-align: center;
  place-items: center;
  padding: 2.5rem 2rem;
  gap: 3rem;
}

.dcard-end > * {
  max-width: 45ch;
}

.dcard-end-class {
  font-size: var(--font-large);
  font-weight: 900;
  line-height: 1;
}

@media screen and (max-width: 659px) {
  .dcard-transition-group {
    min-width: unset;
  }

  .dcard-buttons {
    flex-direction: column;
  }
}

@keyframes clicked {
  0% {
    border-color: transparent;
  }

  34% {
    border-color: var(--color-accent);
  }

  67% {
    border-color: transparent;
  }

  100% {
    border-color: var(--color-accent);
  }
}