.pre-font,
.pre-placeholder {
  background-color: var(--color-base-dark);
  border-radius: 6px;
  margin-top: 0.5rem;

  min-height: 7rem;
  padding: 1.5rem 3rem;
  text-align: center;
}

.pre-placeholder {
  display: grid;
  place-items: center;
}

.pre-font {
  font-size: 4rem;
  line-height: 4rem;
}

@media screen and (max-width: 659px) {
  .pre-font {
    font-size: 3rem;
  }
}