.App {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min(45%, 50ch) 1fr;
  grid-template-rows: 10rem auto auto;

  justify-content: center;
  align-content: start;
  gap: 2rem;
  min-height: 100vh;
  max-width: calc(45ch + 18rem + 600px);
  margin: 0 auto;
  padding: 2rem 8rem;
}

.title {
  align-self: end;

  font-size: var(--font-large);
  font-weight: 900;

  margin-bottom: -0.22em;
}

.summary {
  background-color: inherit;

  z-index: 1;
}

.summary p+p {
  margin-top: 1em;
}

.credits {
  grid-row: 3;
  grid-column: 1;
  color: var(--color-text-light);

  align-self: end;
}

span.small {
  font-size: 0.75em;
  color: var(--color-text-lighter);
}

.font-preview {
  align-self: end;
}

.font-upload {
  background-color: var(--color-base);
  border: 1px solid var(--color-base-darker);
  border-radius: 6px;

  display: grid;
  place-content: center;
  gap: 1rem;
  padding: 1.5rem 3rem;

  align-self: start;
}

.decision-slides {
  grid-row: span 2;
  margin: 0 -2rem;
}

@media screen and (max-width: 1199px) {
  .App {
    grid-template-columns: 100%;
    grid-template-rows: 10rem auto 10rem auto auto;
    padding-bottom: 5rem;
    max-width: calc(45ch + 16rem);
  }

  .decision-slides {
    grid-row: span 1;
    margin: 0 -2rem;
  }

  .credits {
    grid-row: 5;
    grid-column: 1 / span 1;
  }
}

@media screen and (max-width: 659px) {
  .App {
    grid-template-rows: repeat(5, auto);
    padding: 5rem 2rem;
    max-width: calc(45ch + 4rem);
  }
}