@import './styles/resets.css';
@import './styles/theme.css';
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,900;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Chivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  max-width: 50ch;
}
